In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [4]:
# original_data_path = "C:/Users/peter/Documents/Peter school/Leerjaar 3/VU/Machine Learning/data/"
original_data_path = "/home/user/Documents/studies/master/vu - systeembio master/modules/04 Machine Learning/project/project start data/"
or_movies = pd.read_csv(original_data_path+'IMDb movies.csv', delimiter=",", low_memory=False)
or_names = pd.read_csv(original_data_path+'IMDb names.csv', delimiter=",", low_memory=False)
or_ratings = pd.read_csv(original_data_path+'IMDb ratings.csv', delimiter=",", low_memory=False)
or_title_principles = pd.read_csv(original_data_path+'IMDb title_principals.csv', delimiter=",", low_memory=False)

# remove the columns with more than 50% NA-values (stored in new df)

In [5]:
#make function to count NA-values
na_counts_movies = or_movies.isna().sum() / len(or_movies) * 100
na_counts_names = or_names.isna().sum() / len(or_names) * 100
na_counts_ratings = or_ratings.isna().sum() / len(or_ratings) * 100
na_counts_title_principles = or_title_principles.isna().sum() / len(or_title_principles) * 100

#get all indexes
movie_columns_to_drop = na_counts_movies[na_counts_movies > 50].index
name_columns_to_drop = na_counts_names[na_counts_names > 50].index
ratings_columns_to_drop = na_counts_ratings[na_counts_ratings > 50].index
title_principles_columns_to_drop = na_counts_title_principles[na_counts_title_principles > 50].index

#Make new df and drop the column index
adj_movies = or_movies.drop(columns=movie_columns_to_drop)
adj_name_columns = or_movies.drop(columns=movie_columns_to_drop)
adj_ratings = or_movies.drop(columns=movie_columns_to_drop)
adj_title_principles = or_movies.drop(columns=movie_columns_to_drop)

# remove columns we dont want to use

In [7]:
drop = ["imdb_title_id", "original_title", "date_published", "description", "votes", "reviews_from_users",
        "reviews_from_critics", "production_company"]
adj_movies = adj_movies.drop(columns = drop)
adj_movies.head()

,title,year,genre,duration,country,language,director,writer,actors,avg_vote
0,Miss Jerry,1894,Romance,45,USA,None,Alexander Black,Alexander Black,"Blanche Bayliss, William Courtenay, Chauncey D...",5.9
1,The Story of the Kelly Gang,1906,"Biography, Crime, Drama",70,Australia,None,Charles Tait,Charles Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",6.1
2,Den sorte drøm,1911,Drama,53,"Germany, Denmark",NaN,Urban Gad,"Urban Gad, Gebhard Schätzler-Perasini","Asta Nielsen, Valdemar Psilander, Gunnar Helse...",5.8
3,Cleopatra,1912,"Drama, History",100,USA,English,Charles L. Gaskill,Victorien Sardou,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",5.2
4,L'Inferno,1911,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",Dante Alighieri,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",7.0

# new feature title length and remove title¶

In [9]:
adj_movies.loc[:,'title length'] = adj_movies.loc[:,'title'].str.replace(' ', '').str.len()
adj_movies = adj_movies.drop(columns = ["title"])
adj_movies.head()

,year,genre,duration,country,language,director,writer,actors,avg_vote,title length
0,1894,Romance,45,USA,None,Alexander Black,Alexander Black,"Blanche Bayliss, William Courtenay, Chauncey D...",5.9,9
1,1906,"Biography, Crime, Drama",70,Australia,None,Charles Tait,Charles Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",6.1,22
2,1911,Drama,53,"Germany, Denmark",NaN,Urban Gad,"Urban Gad, Gebhard Schätzler-Perasini","Asta Nielsen, Valdemar Psilander, Gunnar Helse...",5.8,12
3,1912,"Drama, History",100,USA,English,Charles L. Gaskill,Victorien Sardou,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",5.2,9
4,1911,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",Dante Alighieri,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",7.0,9

# Derive new features from existing ones

# Country (werkt nog niet)

In [11]:
#takes all country and put in array
countries = set(",".join(adj_movies["country"].str.replace(", ", ",").to_list()).split(","))
new_columns = ["country_"+country for country in countries]
new_columns.sort()
new_columns

TypeError: sequence item 53010: expected str instance, float found